doctype html
html(lang="en")
	head
		title Document
		meta(charset="UTF-8")
		meta(name="google" content="notranslate")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="css/style.min.css")
	body
		.box
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		script(src="JS/libs.min.js")
		script(src="JS/main.js")